.App,
#root,
body {
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-data {
  width: 20rem;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 10px lightgray;
  display: inline-block;
  text-align: center;
}
